@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Easy to use gallery page</h3>

<p>For this project we have been given the task to develop a web application that serves as an online platform allowing
    users to store, view and share photos. Users must register before they can utilise the platform. When the user has
    successfully registered, they will be able to view their own photos and view the photos that have been shared with
    them. Users that have registered and logged into the platform must be able to create and update the metadata of each
    photo they have access to. Users should be able to share their photos with other users that have also registered to
    the platform. Users must be able to download the photos they have access to. The web application should be consistent
    and easy-to-use for all clients.</p>
