@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My Student details</h3>

<address>
    <strong>Name:</strong> Sven <br />
    <strong>Surname:</strong> Beyleveld <br />
    <strong>Student Number:</strong> 28428706 <br />
    <strong>Phone Number:</strong> 065 922 4495 <br />

</address>

<address>
    <strong>Email:</strong> svenbeyleveld1998@gmail.com
</address>
