@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('@Url.Content("~/images/aspbackgroundimage.png")');
            background-repeat: no-repeat, repeat;
            background-size: cover;
        }
        h1 {
            text-align: center;
            padding-top:30%;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><b>WELCOME TO EVERGALLERY</b></h1>
    <p><h2>HOME</h2></p>
</body>
</html>